<style>
    body {
  font-family: 'Raleway', sans-serif;;
  font-style: thin;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
</style>
<div id="footer" class="site-footer mt-5">
	<div class="mt-3">
		<div class="row d-flex">
			<div class="col-sm-8">
				<p class="font-weight-bold">{{ site.title }}</p>
				<ul class="list-unstyled list-inline">
					<li class="list-inline-item">
						<a href="https://www.nsf.gov/" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/nsf.png" style="max-height: 65px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://www.darpa.mil" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/darpa.png" style="max-height: 50px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://www.iarpa.gov" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/iarpa_logo.png" style="max-height: 60px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://www.energy.gov" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/doe.png" style="max-height: 58px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://caoe.asu.edu" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/CAOE.png" style="max-height: 28px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://cloud.google.com/?hl=en" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/GCloud.png" style="max-height: 70px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://www.microsoft.com/en-us/research/collaboration/accelerating-foundation-models-research/" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/microsoft.png" style="max-height: 50px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://research.cisco.com" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/cisco.png" style="max-height: 45px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://iddp.gwu.edu" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/iddp.png" style="max-height: 40px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://www.iit.edu" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/iitlogo.png" style="max-height: 40px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://dpi.uillinois.edu" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/dpi.jpg" style="max-height: 40px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://www.xcmgarc.com" target="_blank">
							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/xcmg.png" style="max-height: 40px;">
						</a>
					</li>
				</ul>
			</div>

			<div class="col-sm-4">
				<p class="font-weight-bold">Contact</p>
				10 W 31 ST, Chicago<br>
				Illinois, USA.
			</div>
		</div>
		<div class="footer-copyright text-center py-3">
			© 2020 {{ site.author }}
		</div>
	</div>
</div>
