<style>
	body {
  font-family: 'Raleway', sans-serif;;
  font-style: thin;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
	}
	.navbar-link {
	  text-transform: uppercase;
	  font-size: 16px;
	  font-weight: 600;
	  letter-spacing: .05rem;
	  margin-right: 110px;
	  text-decoration: none;
	  /* line-height: 6.5rem; */
	  color: #222; }
  </style>
<header class="site-header" role="banner">

	<nav class="navbar navbar-expand-sm navbar-light px-0">

		<!-- Navbar brand -->
		<a class="navbar-link" style=" font-size: 14px; "href="{{ site.baseurl }}/">Home</a>

		<!-- Navbar toggler button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
			aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- <a href="/about">About</a> -->

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav mr-auto">
				<li>
					<a class="nav-link" href="{{ site.baseurl }}/projects" style="color: #222;font-size: 13px;text-decoration: none;letter-spacing: .05rem;margin-right: 16px;
					font-weight: 600; text-transform: uppercase;">Projects</a>
				</li>
				<li>
					<a class="nav-link" href="{{ site.baseurl }}/publications" style="color: #222; font-size: 13px;text-decoration: none;letter-spacing: .05rem;margin-right: 16px;
					font-weight: 600;text-transform: uppercase;">Publications</a>
				</li>
				<li>
					<a class="nav-link" href="{{ site.baseurl }}/awards" style="color: #222; font-size: 13px;text-decoration: none;letter-spacing: .05rem;margin-right: 16px;
					font-weight: 600;text-transform: uppercase;">Awards</a>
				</li>
				<li>
					<a class="nav-link" href="{{ site.baseurl }}/team" style="color: #222; font-size: 13px;text-decoration: none;letter-spacing: .05rem;margin-right: 16px;
					font-weight: 600;text-transform: uppercase;">Team</a>
				</li>
				<li>
					<a class="nav-link" href="{{ site.baseurl }}/activities" style="color: #222; font-size: 13px;text-decoration: none;letter-spacing: .05rem;margin-right: 16px;
					font-weight: 600;text-transform: uppercase;">Activities</a>
				</li>
				<li>
					<a class="nav-link" href="{{ site.baseurl }}/about" style="color: #222; font-size: 13px;text-decoration: none;letter-spacing: .05rem;
					font-weight: 600;text-transform: uppercase;">About Us</a>
				</li>
			</ul>
		</div>

	</nav>

</header>

