---
title: Projects
layout: page
excerpt: Data Mining Lab -- Projects.
permalink: /projects/
---
<style>
  body {
font-family: 'Raleway', sans-serif;;
font-style: thin;
font-weight: 100;
src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2) format('woff2');
unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
</style>
<ul class="list-unstyled">

    <h2>Current Projects</h2>
    <ul>
      <li>Countering Misinformation in the Era of Large Language Models, DHS-CAOE, 2023-2026. Site PI.</li>
      <li>Towards Factual Large Language Models, Cisco Faculty Research Award, Cisco System Inc, 2023-2024. PI.</li>
      <li>Microsoft Accelerate Foundation Models Research Award, Microsoft, 2023-2024. PI.</li>
      <!-- Add more list items for each project -->
    </ul>
    
    <h2>Completed Projects</h2>
    <ul>
      <li>Developing Trustworthy and Accessible Tools to Mitigating Disinformation in Marginalized Communities, IIT ACT Center, 2022-2023. PI.</li>
      <li>Behavioral and Game-theoretic Parameterized Models for Pandemic Prediction, IIT ACT Center, 2022-2023. Co-PI.</li>
      <li>Explainable Artificial Intelligence with Fairness and Privacy, Cisco Faculty Award, Cisco System Inc, 2022-2023. PI.</li>
      <!-- Add more list items for each project -->
    </ul>

    <h2>Acknowledgments</h2>
    <p>Our lab would like to thank generous support from NSF, IARPA, DARPA, DOE, DHS, Cisco, Google, Microsoft, GWU, XCMG American Research Corporation, Discovery Partners Institute, and Illinois Institute of Technology. Thank you!</p>
    
    
</ul>


