<style>
  body {
font-family: 'Raleway', sans-serif;;
font-style: thin;
font-weight: 100;
src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA.woff2) format('woff2');
unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  .navbar-link {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .05rem;
    margin-right: 120;
    text-decoration: none;
    /* line-height: 6.5rem; */
    color: #222; }
</style>
<li class="media mb-5">
    <img class="align-self-center mr-3"
         src="/assets/images/team/{{ member.image }}"
         style="max-width: 130px; filter: grayscale(100%); border-radius: 50%;"
         alt="{{member.title}}">

    <div class="media-body">
      <h5 class="mt-0"><a href="{{ member.url }}">{{ member.title }}</a></h5>
      <p>{{member.role}}</p>
      {%- include team_member_social.html -%}
    </div>
</li>
